<!-- Title and logo -->
<header class="header">
  <div class="container">
    <div>
      <div class="title">
        <div class="toptitle">
          <span>Compare the</span>
          <span class="competitor-year"></span>
          <span class="bold-txt competitor-manufacturer"></span>
          <span class="bold-txt competitor-series"></span>
          <span>&</span>
          <span class="boss-year"></span>
          <span class="bold-txt">Toyota</span>
          <span class="boss-series bold-txt"></span>
        </div>
        <div class="subtitle">
          <table>
            <tr>
              <td>Ratings provided by Kelley Blue Book</td>
              <td class="min">
                <div class="sprite sprite-logo"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div>
  <!-- Vehicles images -->
  <div class="row vs-block">
    <div class="car-box car-1">
      <div class="car-image-div">
        <div class="vertical-align-md car-image">
          <div class="car-image-loading-icon"></div>
        </div>
      </div>
      <h2 class="title">
        <div>
          <span class="bold-txt competitor-year"></span>
          <span class="competitor-manufacturer"></span>
          <span class="competitor-series"></span>
        </div>
      </h2>
    </div>
    <div class="vs-img">
      <div class="img-wrapper">
        <div class="sprite sprite-vs"></div>
      </div>
    </div>
    <div class="car-box car-2">
      <div class="car-image-div">
        <div class="vertical-align-md car-image">
          <div class="car-image-loading-icon"></div>
          <div class="sprite sprite-winner"></div>
        </div>
      </div>
      <h2 class="title">
        <div>
          <span class="bold-txt boss-year"></span>
          <span>Toyota</span>
          <span class="boss-series"></span>
        </div>
      </h2>
    </div>
  </div>
  <!-- To output errors -->
  <h2 class="error-log"></h2>
  <!-- Ranks -->
  <div class="main">
    <div class="rank-block">
      <table class="top-bar" id="kbb-expert__title">
        <tr>
          <td class="info-td">
            <div class="bar-wrapper left">
              <div class="bar"></div>
              <div class="marker loser sprite-87"></div>
            </div>
            <div class="text">
              <span class="competitor-manufacturer"></span>
              <span class="competitor-series"></span>
            </div>
          </td>
          <td class="icon-td" style="width: 105px; text-align: center;">
            <div style="margin: -20px; display: inline-block;" class="sprite sprite-kbb"></div>
          </td>
          <td class="info-td">
            <div class="bar-wrapper right">
              <div class="bar"></div>
              <div class="marker winner sprite-94"></div>
            </div>
            <div class="text">
              <span>Toyota</span>
              <span class="boss-series"></span>
            </div>
          </td>
        </tr>
      </table>
      <div class="ranks ranks-kbb">
        <p class="kbbtext">To create KBB.COM Expert Ratings, Kelley Blue Book’s expert automotive editors review and rate vehicles based on how well each vehicle fulfills the requirements and desires of consumers in each market segment. Below are unbiased Expert Ratings from KBB.com, selected by Toyota for promotional purposes.</p>
        <div id="kbb-expert__driving">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle">
              <div class="">Driving Dynamics</div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright">
              <div class="winnermob"></div>
            </div>
          </div>
          <div class="more">This Rating evaluates the quality and personality of a vehicle's engine, drivetrain, suspension, brakes and steering - and what it's like to drive. Relevance to a vehicle's purpose matters most - a sports car will be judged first on its handling and responsiveness, with ride quality being a secondary (but still necessary) consideration. Likewise, a good luxury sedan should be easy to drive and treat its occupants like royalty, but if it also handles well, that will be reflected in the Ratings too. Even ease-of-parking gets taken into account.</div>
        </div>
        <div id="kbb-expert__convenience">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle">
              <div class="">Convenience<br> & Comfort</div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright">
              <div class="winnermob"></div>
            </div>
          </div>
          <div class="more">Here, we assess what a car is like to live in. Things like seat comfort, headroom, legroom, rear-seat room, infotainment systems, placement of controls, materials and touch surfaces, cabin quietness, outward vision, cargo area(s), ease of ingress/egress, cubbies, cup holders, and more, all get assessed to come up with our Comfort & Convenience Rating.</div>
        </div>

        <div id="kbb-expert__interior">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle">
              <div class=""><span>Design: </span><br><span>Interior & Exterior</span></div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright">
              <div class="winnermob"></div>
            </div>
          </div>
          <div class="more">But is it art? We use this Rating to assess how well the manufacturer was able to create exterior and interior shapes and surfaces that fulfill a vehicle's mission as a practical road-going machine, while at the same time managing to do so in a way that could appeal to a buyer's aesthetic and emotional sides.</div>
        </div>
        <div id="kbb-expert__value">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle" id="value">
              <div class="">Value</div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright">
              <div class="winnermob"></div>
            </div>
          </div>
          <div class="more">This Rating includes everything that makes a vehicle both a good deal and a smart deal. We consider everything from the features-per-dollar relative to a vehicle's competitors to the length of the warranty. Additionally, we take into account a vehicle's quality and reliability, as well as Kelley Blue Book's own 5-Year Cost to Own, Fair Purchase Price, and residual value data.</div>
        </div>
      </div>
    </div>
    <div class="rank-block">
      <table class="top-bar" id="kbb-consumer__title">
        <tr>
          <td class="info-td">
            <div class="bar-wrapper left">
              <div class="bar"></div>
              <div class="marker loser sprite-87"></div>
            </div>
            <div class="text">
              <span class="competitor-manufacturer"></span>
              <span class="competitor-series"></span>
            </div>
          </td>
          <td class="icon-td" style="width: 105px; text-align: center;">
            <div style="margin: -20px; display: inline-block;" class="sprite sprite-cons"></div>
          </td>
          <td class="info-td">
            <div class="bar-wrapper right">
              <div class="bar"></div>
              <div class="marker winner sprite-94"></div>
            </div>
            <div class="text">
              <span>Toyota</span>
              <span class="boss-series"></span>
            </div>
          </td>
        </tr>
      </table>
      <div class="ranks ranks-consumer">
        <p class="kbbtext">KBB.COM Consumer Ratings are the compilation of individual Consumer Ratings given to Kelley Blue Book by visitors to its website, KBB.com. The ratings are indicative of reported consumer opinions on each vehicle and how that vehicle fulfills consumer expectations. Below are Consumer Ratings from KBB.com, selected by Toyota for promotional purposes.</p>
        <div id="kbb-consumer__value">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle">
              <div class="">Value</div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright"></div>
          </div>
          <!-- <div class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada ornare blandit. Pellentesque tincidunt sapien eu tristique feugiat. Fusce in tincidunt lacus. Praesent et luctus ex, ut blandit leo. Donec condimentum mi massa, at consequat justo tincidunt eget. Integer ut cursus purus. Ut vel suscipit lacus, id tristique nulla. Donec fermentum ut arcu sed dictum. Nunc aliquam dui eu tempus commodo. Aenean tempus neque at orci sagittis commodo. Mauris finibus velit nec mauris placerat pharetra. Duis aliquam luctus nibh, et convallis mi feugiat nec. In laoreet nulla tellus, at dignissim erat imperdiet sed. Donec bibendum bibendum nisi et tincidunt. Vivamus maximus tincidunt tempus. Fusce lobortis bibendum auctor.</div> -->
        </div>
        <div id="kbb-consumer__reliability">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle">
              <div class="">Reliability</div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright"></div>
          </div>
          <!-- <div class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada ornare blandit. Pellentesque tincidunt sapien eu tristique feugiat. Fusce in tincidunt lacus. Praesent et luctus ex, ut blandit leo. Donec condimentum mi massa, at consequat justo tincidunt eget. Integer ut cursus purus. Ut vel suscipit lacus, id tristique nulla. Donec fermentum ut arcu sed dictum. Nunc aliquam dui eu tempus commodo. Aenean tempus neque at orci sagittis commodo. Mauris finibus velit nec mauris placerat pharetra. Duis aliquam luctus nibh, et convallis mi feugiat nec. In laoreet nulla tellus, at dignissim erat imperdiet sed. Donec bibendum bibendum nisi et tincidunt. Vivamus maximus tincidunt tempus. Fusce lobortis bibendum auctor.</div> -->
        </div>
        <div id="kbb-consumer__comfort">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle">
              <div class="">Comfort</div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright"></div>
          </div>
          <!-- <div class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada ornare blandit. Pellentesque tincidunt sapien eu tristique feugiat. Fusce in tincidunt lacus. Praesent et luctus ex, ut blandit leo. Donec condimentum mi massa, at consequat justo tincidunt eget. Integer ut cursus purus. Ut vel suscipit lacus, id tristique nulla. Donec fermentum ut arcu sed dictum. Nunc aliquam dui eu tempus commodo. Aenean tempus neque at orci sagittis commodo. Mauris finibus velit nec mauris placerat pharetra. Duis aliquam luctus nibh, et convallis mi feugiat nec. In laoreet nulla tellus, at dignissim erat imperdiet sed. Donec bibendum bibendum nisi et tincidunt. Vivamus maximus tincidunt tempus. Fusce lobortis bibendum auctor.</div> -->
        </div>
        <div id="kbb-consumer__quality">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle">
              <div class="">Quality</div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright"></div>
          </div>
          <!-- <div class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada ornare blandit. Pellentesque tincidunt sapien eu tristique feugiat. Fusce in tincidunt lacus. Praesent et luctus ex, ut blandit leo. Donec condimentum mi massa, at consequat justo tincidunt eget. Integer ut cursus purus. Ut vel suscipit lacus, id tristique nulla. Donec fermentum ut arcu sed dictum. Nunc aliquam dui eu tempus commodo. Aenean tempus neque at orci sagittis commodo. Mauris finibus velit nec mauris placerat pharetra. Duis aliquam luctus nibh, et convallis mi feugiat nec. In laoreet nulla tellus, at dignissim erat imperdiet sed. Donec bibendum bibendum nisi et tincidunt. Vivamus maximus tincidunt tempus. Fusce lobortis bibendum auctor.</div> -->
        </div>
        <div id="kbb-consumer__performance">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle">
              <div class="">Performance</div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright"></div>
          </div>
          <!-- <div class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada ornare blandit. Pellentesque tincidunt sapien eu tristique feugiat. Fusce in tincidunt lacus. Praesent et luctus ex, ut blandit leo. Donec condimentum mi massa, at consequat justo tincidunt eget. Integer ut cursus purus. Ut vel suscipit lacus, id tristique nulla. Donec fermentum ut arcu sed dictum. Nunc aliquam dui eu tempus commodo. Aenean tempus neque at orci sagittis commodo. Mauris finibus velit nec mauris placerat pharetra. Duis aliquam luctus nibh, et convallis mi feugiat nec. In laoreet nulla tellus, at dignissim erat imperdiet sed. Donec bibendum bibendum nisi et tincidunt. Vivamus maximus tincidunt tempus. Fusce lobortis bibendum auctor.</div> -->
        </div>
        <div id="kbb-consumer__styling">
          <div class="rates">
            <div class="rate rate-left marginleft"></div>
            <div class="barwrapper2 barwrapperleft">
              <div class="bar"></div>
            </div>
            <div class="ratetitle">
              <div class="">Styling</div>
            </div>
            <div class="barwrapper2 barwrapperright">
              <div class="bar right"></div>
            </div>
            <div class="rate rate-right marginright"></div>
          </div>
          <!-- <div class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada ornare blandit. Pellentesque tincidunt sapien eu tristique feugiat. Fusce in tincidunt lacus. Praesent et luctus ex, ut blandit leo. Donec condimentum mi massa, at consequat justo tincidunt eget. Integer ut cursus purus. Ut vel suscipit lacus, id tristique nulla. Donec fermentum ut arcu sed dictum. Nunc aliquam dui eu tempus commodo. Aenean tempus neque at orci sagittis commodo. Mauris finibus velit nec mauris placerat pharetra. Duis aliquam luctus nibh, et convallis mi feugiat nec. In laoreet nulla tellus, at dignissim erat imperdiet sed. Donec bibendum bibendum nisi et tincidunt. Vivamus maximus tincidunt tempus. Fusce lobortis bibendum auctor.</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
