<!-- Title and logo -->
<header class="header">
  <div class="container">
    <div>
      <div class="title">
        <div class="toptitle">
          <span>Compare the</span>
          <span class="bold-txt">Toyota</span>
          <span class="boss-series bold-txt"></span>
          <span>&</span>
          <span class="bold-txt competitor-manufacturer"></span>
          <span class="bold-txt competitor-series"></span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div>
  <!-- Vehicles images -->
  <div class="row vs-block"></div>
  <!-- To output errors -->
  <h2 class="error-log"></h2>
  <!-- Ranks -->
  <div class="main"></div>
</div>
</div>
