.sprite {
    background-image: url(https://services.serving-sys.com/custprojassets/prd/features/static/0368b9e.netsolvps.com/se/kbb_landing/images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

// .sprite {
//     background-image: url(images/spritesheet.png);
//     background-repeat: no-repeat;
//     display: block;
// }

.sprite-87 {
    width: 50px;
    height: 49px;
    background-position: -5px -5px;
}

.sprite-94 {
    width: 50px;
    height: 49px;
    background-position: -65px -5px;
}

.sprite-close {
    width: 16px;
    height: 16px;
    background-position: -125px -5px;
}

.sprite-cons {
    width: 108px;
    height: 108px;
    background-position: -151px -5px;
}

.sprite-kbb {
    width: 107px;
    height: 107px;
    background-position: -5px -123px;
}

.sprite-lessbg {
    width: 60px;
    height: 26px;
    background-position: -122px -123px;
}

.sprite-logo {
    width: 67px;
    height: 100px;
    background-position: -192px -123px;
}

.sprite-morebg {
    width: 60px;
    height: 26px;
    background-position: -122px -233px;
}

.sprite-moremob {
    width: 63px;
    height: 28px;
    background-position: -192px -233px;
}

.sprite-shadow {
    width: 175px;
    height: 4px;
    background-position: -269px -5px;
}

.sprite-smalwinner {
    width: 40px;
    height: 39px;
    background-position: -269px -19px;
}

.sprite-vs {
    width: 130px;
    height: 69px;
    background-position: -319px -19px;
}

.sprite-winner {
    width: 74px;
    height: 69px;
    background-position: -269px -98px;
}
